fastapi==0.87.0
numpy==1.23.4
beautifulsoup4==4.11.1
graypy~=2.1.0
sklearn
python-multipart
lxml==4.9.1
pydantic==1.10.2
uvicorn==0.19.0
gunicorn
nltk==3.7
PyYAML==6.0
requests==2.28.1
mongomock==4.1.2
pymongo==4.3.3
PyRSMQ
lightgbm==3.3.3
redis==4.3.4
pytest==7.2.0
black==22.10.0
sentry-sdk==1.11.0
huggingface_hub==0.11.0
httpx
