fastapi==0.110.2
graypy==2.1.0
python-multipart==0.0.9
uvicorn==0.29.0
gunicorn==22.0.0
nltk==3.8.1
PyYAML==6.0.1
requests==2.32.3
pymongo==4.7.0
PyRSMQ==0.5.0
redis==5.0.4
httpx==0.27.0
sentry-sdk==2.0.1
git+https://github.com/huridocs/pdf-tokens-type-labeler@1c12c368887372164ab4981c3277a49e9dc43b9a
